#main-content {
    width:40%;
    margin:auto;
    background-color: lightskyblue;
    padding: 3%;
}


.normal {
    width: 30%;
    padding: 50px;
    background-color: lightskyblue;
    border-radius: 10px;
}
.normalheadingbg {
     width: 20%;
    padding: 45px;
    background-color: rgb(37, 126, 161);  
    border-radius: 10px;

}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: blue;
  position: fixed;
  height: 100%;
  overflow: auto;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar  {
    text-align: center;
    float: none;
  }
}

/* Active/current link */
.sidebar .active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar :hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px
}

/* Sidebar links */
.sidebar  {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}


#guitarbg {
    width:20%;
    padding: 10px;
    background-color: lightskyblue;
}

table {
    background-color: lightskyblue;
    color: navy;
    border: solid lightblue;
    border-collapse: collapse;
}

td {
    color:mediumblue;
    border-style: dashed;
    border-color: lightbluex;
}
.jimmy {
    background-color: rgb(37, 126, 161);
    width:20%;
    border-radius: 10px;

}

body{
    background-image: url(images/music\ bg.jpg) ;
}

img {
  width: 100%;
  border: 3px solid blue;
}

#coolvideo {
    width: 100%;
    height: 400px
}