section {
    background:white;
    color: darkslateblue;
    border: 5px solid lightpink;
    padding:15p;
    margin:5px;
}




/*use these styles on large screens  eg laptop or desktop*/
@media screen and (min-width: 768px) {
    body {
        background-image: url(images/horizonbackground.jpg);
    }

    .columns{
        display:flex;
    }

    .one {
        flex:1;
    }
    .two{
        flex:2;
    }
    .three {
        flex:3;
    }
    .four{
        flex:4;
    }
}
   












































































































































































































































































































































































































































































































































































































































































































































































































































































































































 
  































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































